.box-menu-bar {
  margin-bottom: 5px;
}
// =================================================================
.box-conteiner {
  display: flex;
}
.box-menu-painel {
 padding: 5px;
}
.box-rotas {
  padding: 5px;
  height: calc(100vh - 75px);
}

.box-container {
  height: 100%;
  width: 100%;
}

.box-sidenav-content {
  height: 100%;
}

.btn-selecionado {
  // background-color: #673AB7 !important;
  border-left-style: solid !important;
  border-left-width: 6px !important;
  border-left-color: #673ab7 !important;
}

// MENU =========================================================
.box-button {
  display: flex;
  flex-direction: column;
}
.btn-menu-list {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}
// ===================================================================
form {
  width: 100%;
}
mat-form-field {
  padding-left: 5px;
}
// ===================================================================
//  CELULAR
// ===================================================================
@media screen and (max-width: 767px) {
  .box-sidenav {
    padding: 20px;
    width: 100%;
  }
}

// ===================================================================
// TABLET
// ===================================================================
@media screen and (min-width: 768px) and (max-width: 991px) {
  .box-sidenav {
    padding: 20px;
    width: 30%;
  }
}

// ===================================================================
// DESKTOP
// ===================================================================
@media screen and (min-width: 992px) {
  .box-sidenav {
    padding: 20px;
    width: 20%;
  }
}
