<!-- ======================================================================================================= -->
<!-- TOPO -->
<!-- ======================================================================================================= -->
<div class="box-menu-bar">
    <app-menu-bar></app-menu-bar>
</div>
<!-- ======================================================================================================= -->
<!-- CORPO COM MENU -->
<!-- ======================================================================================================= -->
<div class="box-conteiner">

    <div class="box-menu-painel col-md-3">
        <app-painel-menu></app-painel-menu>
    </div>
    <div class="box-rotas col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
