<mat-card class="box-card">
  <mat-card-title class="box-title">Cadastro de Usuário</mat-card-title>
  <div class="painel">

    <mat-card-content class="box-content">
      <form [formGroup]="formUsuario" autocomplete="off">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome do usuário" formControlName="usuario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="Senha do usuário" formControlName="senha" (keyup.enter)="salvar()">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions class="box-footer">
      <button mat-button routerLink="home">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
      <button mat-button color="primary" [disabled]="formUsuario.invalid" (click)="salvar()">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
    </mat-card-actions>

  </div>
</mat-card>